.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.mainDiv{
    background-color:#e50914;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 20%;
    left:22%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input{
    height: 48px;
    width: 60%;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 12%;
    background: black;
    border: none;
    font-size: medium;
    color: white;

}
.password{
    height: 48px;
    width: 60%;
    text-align: center;
    margin-bottom: 5px;
    background: black;
    border: none;
    font-size: medium;
    color: blanchedalmond ;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.Create-btn{
    height: 43px;
    width: 61%;
    background-color: #e50914;
    margin-bottom: 5px;
}
.nav-logo2{
    width: 90px;
    object-fit: cover;
    position: absolute;
    left: 42%;

}