.linkedmovie{
    width: 250px;
}
.mainDivLiked{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    padding-top: 8%;
    
}
.movieDiv{
    transition: transform 450ms;
}
.movieDiv:hover{
    transform: scale(1.08);
}
.unlikeBtn{
    height: 37px;
    margin-bottom: 15px;
    margin-top: 3px;

}